* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebf8fe;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

h1 {
    margin-top: 25px;
    font-size: 50px;
    color: #2e4954;
}

.block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    min-width: 320px;
    margin: 40px;
    
}

.block1{
    background-color: #5bc8fb;
}

.block2{
    background-color: #d1a3c2;
}

.block3{
    background-color: #fcfdfe;
}

img {
    width: 300px;
    margin: 20px 0;
}
p {
    font-size: 20px;
}